:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --bestblack: #061A28;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --light: #f8f9fa;
    --dark: #343a40;
}
body {
    font-size: 20px;
    font-family: cursive;
    background: linear-gradient(
        white,
        rgb(219, 202, 202)
        );
    height: 100vh;
    overflow: hidden;
}
#ball {
    position: fixed;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: var(--bestblack);
}

#header {
    text-align:center;
    color: rgba(232, 62, 140, 1);
    padding-bottom: 1rem;
    justify-content: center;
    display:flex;
}
#heart {
    background-color: var(--pink);
    position: relative;
    top: 10px;
    background-color: rgba(232, 62, 140, 1);
    width: 20px;
    height: 20px;
    transform: rotate(45deg) scale(0.6);
    animation-name : beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#heart::before{
    position: absolute;
    bottom: 0px;
    left: -10px;
    content: '';
    background-color: rgba(232, 62, 140, 1);
    width:20px;
    height:20px;
    border-radius: 50%;
}
#heart::after{
    position: absolute;
    top: -10px;
    right: 0px;
    height: 20px;
    width: 20px;
    content: '';
    background-color: rgba(232, 62, 140, 1);
    border-radius: 50%;
}
@keyframes beat{
    50%{
        transform: rotate(45deg) scale(1);
    }
    100%{
        transform: rotate(45deg) scale(0.6);
    }
}
#container {
    margin: 0 auto;
    border: solid var(--bestblack);
    border-width: 10px;
    border-radius: 20px;
    box-shadow: var(--cyan);
    border-bottom: var(--green);
    width: 600px;
    max-width: 600px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.item {
    background-color: var(--white);
    flex-grow: 1;
}

#btns {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.btn {
    border-radius: 100px;
    border: solid black;
    margin: 0 20px;
    width: 200px;
    height: 35px;
    background-color: var(--bestblack);
    color: white;
    font-family: cursive;
    font-size: 20px;
}
.head1 {
    font-size: 30px;
    color:  var(--red);
}
.head2 {
    font-size: 20px;
    color: var(--purple);
}
.head3 {
    font-size: 30px;
    color: var(--indigo);
}
.head4 {
    font-size: 20px;
    color: var(--red);
}
#randomize {
    display: flex;
    justify-content: center;
    position: relative;
    top: 22px;
}
#randomizer {
    height: 30px;
    width: 300px;
    background-color: var(--bestblack);
    color: white;
    font-family: cursive;
    font-size: 20px;
    border-radius: 50%;
}